/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/



html {
  box-sizing: border-box;
  font-size: 70%;
}


*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
}



/* /////UPLOADED FONTS//// */

@font-face {
font-family: 'kiera';
src: url('FONTS/kiera.ttf') format('truetype');
}

@font-face {
font-family: 'panic';
src: url('FONTS/panic.ttf') format('truetype');
}

@font-face {
font-family: 'spongeboy';
src: url('FONTS/spongeboy.ttf') format('truetype');
}

@font-face {
font-family: 'adelia';
src: url('FONTS/adelia.otf') format('opentype');
}

@font-face {
font-family: 'boohong';
src: url('FONTS/boohong.ttf') format('truetype');
}

@font-face {
font-family: 'aurora';
src: url('FONTS/aurora.otf') format('opentype');
}

@font-face {
font-family: 'marola';
src: url('FONTS/marola.ttf') format('truetype');
}












body {
   font-size: 100px;
   /* //////UNHIGHLIGHT THIS PART FOR BG ANIMATION ///////// */
   animation-name: bgcolor;
   animation-duration: 15s;
   animation-iteration-count: infinite;
   animation-direction: reverse;
   animation-fill-mode: backwards;
   -ms-zoom-animation: default;

 }
   
   
 

@keyframes stretching {
  0% {
    width: 1000px;
    
  
  }
  100% {
    width: 1000px;
  }
}






.marquee {
  padding: 1px;
  padding-top: 90px;
  padding-bottom: 1px;
  
  background-color: rgb(55, 184, 61);
  animation-name: stretching;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  
}


header {
padding-left: 700px;
}

h2 {
padding-top: 1px;


}

h3 {
padding-bottom: 180px;

}

.image-div{
display: inline-block;
position: absolute;
/* top: 400px;
right: 50px; */

}

#mood {
bottom: 1px;
top: 310px;
left: 500px;
}

#mood2 {
top: 980px;
right: 1px;
bottom: 200px;
}

#mood3 {
  top: 1350px;
  right: 1px;
 
  
  }



